@font-face {
    font-family: sh-pinscher;
    src: url("SHPinscher-Regular.otf") format("opentype");
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    font-family: sh-pinscher;
    background-color:#333131;
}

main{
    width: 60%;
    height: 100vh;
    background-color: #008282;
    margin: auto;
    position: relative;
}

nav {
    height: 60px;
    width: 100%;
    background-color: #c3c3c3;
    position: absolute;
    bottom: 0px;
    border-top: #e7e7e7 solid;
    display: flex;
    justify-content: space-between;
}

nav div:nth-child(1){
    display: flex;
}

.button {
    display: flex;
    text-align: left;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-top: 3px #e7e7e7 solid;
    border-left: 3px #e7e7e7 solid;
    border-bottom: 3px black solid;
    border-right: 3px black solid;
    height: 30px;
    font-size: 28px;
    cursor: pointer;
}

.welcome{
    width: 350px;
    border-bottom: 3px #e7e7e7 solid;
    border-right: 3px #e7e7e7 solid;
    border-top: 3px black solid;
    border-left: 3px black solid;
}

.start img {
    width: 40px;
}

.x {
    width: 85px;
}

.time {
    margin: 5px;
    padding: 5px;
    font-size: 24px;
    width: fit-content;
    border-bottom: 3px #e7e7e7 solid;
    border-right: 3px #e7e7e7 solid;
    border-top: 3px grey solid;
    border-left: 3px grey solid;
}

section {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(6, 150px);
    grid-auto-flow: column;
}

.link span {
    display: block;
    width: 100px;
    height: 80px;
    overflow: hidden;
}

.link img {
    width: 100px;
    cursor: pointer;
}

.link div{
    text-align: center;
    width: 69%;
    color: white;
}

.about span{
    height: 103px;
}

.projects-window {
    position: absolute;
    width: 700px;
    height: 500px;
    background-color:#c3c3c3;
    top: 0px;
    border: #e7e7e7 4px solid;
    display: block;
}

.window-header {
    width: 100%;
    height: 30px;
    background-color: #000082;
    display: flex;
    cursor: move;
    justify-content: space-between;
}

.header-name{
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: white;
    letter-spacing: 2px;
    font-size: 19px;
}

.close-button-container {
    width: 16px;
    height: 16px;
    background-color: #c3c3c3;
    margin-top: 5px;
    margin-right: 5px;
    border-top: 3px #e7e7e7 solid;
    border-left: 3px #e7e7e7 solid;
    border-bottom: 3px black solid;
    border-right: 3px black solid;
    cursor: pointer;
}

.close-button-container span {
    position: absolute;
    top: 3px;
    right: 3.7px;
}

.project-content {
    margin: auto;
    width: 98%;
    height: 90%;
    margin-top: 10px;
    background-color: #c3c3c3;
    border-top: 3px #e7e7e7 solid;
    border-left: 3px #e7e7e7 solid;
    border-bottom: 3px black solid;
    border-right: 3px black solid;
    overflow: scroll;
}

.project{
    width: 98%;
    min-height: 130px;
    background-color: #c3c3c3;
    border-top: 3px #e7e7e7 solid;
    border-left: 3px #e7e7e7 solid;
    border-bottom: 3px black solid;
    border-right: 3px black solid;
    margin: auto;
    margin-top: 5px;
    display: flex;
}

.img-container{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    width: 200px;
    height: 100px;
}

.name {
    font-size: 22px;
    font-weight: bold;
}

.description {
    color: rgba(0, 0, 0, 0.747);
}

.info{
    padding: 5px;
    width: 100%;
    flex: 2;
}   

.skills-content {
    width: 100%;
    margin-top: 5px;
    height: 92%;
    background-color:#000000;
}

.skills-content {
    color: white;
    overflow: scroll;
    font-size: 18px;
}


@keyframes blink {
    0%, 49.9% {
      opacity: 1;
    }
    50%, 100% {
      opacity: 0;
    }
}
  
.blinker {
    animation: blink 1s infinite; /* Adjust the animation duration as needed */
}


.i-5 {
    padding: 5px;
}

.json pre{
    color: rgb(61, 255, 61);
}

#one, #two, #three, #four, #five, #six, #seven {
    opacity: 0;
}

.about-me-container{
    margin: 10px;
    height: 89%;
    border-top: 3px #e7e7e7 solid;
    border-left: 3px #e7e7e7 solid;
    border-bottom: 3px black solid;
    border-right: 3px black solid;
    overflow: scroll;
    font-size: 22px;
}

.about-me-img {
    width: 200px;
    float: left;
    margin: 5px;
}

main {
    display: none;
}

.loading-screen {
    width: 60%;
    margin: auto;
    height: 100vh;
    background-color: #000082;
}

.loading-screen img {
    width: 100%;
    height: 100%;
}


@media (max-width: 1000px) {
    main {
        width: 100%;
    }

    .loading-screen {
        width: 100%;
    }
}

